%footer.slp-mt-48.slp-relative.slp-text-white{:style => "background: rgb(107, 79, 187);"}
  %svg.slp-absolute.slp--top-14.slp-mx-auto.slp-transform{:class => "slp-left-1/2 slp--translate-x-2/4", :height => "60", :viewbox => "0 0 210 194", :width => "65"}
    %path.logo-svg-shape.logo-dark-orange-shape{:d => "M105.0614,193.655 L105.0614,193.655 L143.7014,74.734 L66.4214,74.734 L105.0614,193.655 L105.0614,193.655 Z", :fill => "#E24329"}
    %path.logo-svg-shape.logo-orange-shape{:d => "M105.0614,193.6548 L66.4214,74.7338 L12.2684,74.7338 L105.0614,193.6548 Z", :fill => "#FC6D26"}
    %path.logo-svg-shape.logo-light-orange-shape{:d => "M12.2685,74.7341 L12.2685,74.7341 L0.5265,110.8731 C-0.5445,114.1691 0.6285,117.7801 3.4325,119.8171 L105.0615,193.6551 L12.2685,74.7341 Z", :fill => "#FCA326"}
    %path.logo-svg-shape.logo-dark-orange-shape{:d => "M12.2685,74.7342 L66.4215,74.7342 L43.1485,3.1092 C41.9515,-0.5768 36.7375,-0.5758 35.5405,3.1092 L12.2685,74.7342 Z", :fill => "#E24329"}
    %path.logo-svg-shape.logo-orange-shape{:d => "M105.0614,193.6548 L143.7014,74.7338 L197.8544,74.7338 L105.0614,193.6548 Z", :fill => "#FC6D26"}
    %path.logo-svg-shape.logo-light-orange-shape{:d => "M197.8544,74.7341 L197.8544,74.7341 L209.5964,110.8731 C210.6674,114.1691 209.4944,117.7801 206.6904,119.8171 L105.0614,193.6551 L197.8544,74.7341 Z", :fill => "#FCA326"}
    %path.logo-svg-shape.logo-dark-orange-shape{:d => "M197.8544,74.7342 L143.7014,74.7342 L166.9744,3.1092 C168.1714,-0.5768 173.3854,-0.5758 174.5824,3.1092 L197.8544,74.7342 Z", :fill => "#E24329"}
  .slp-container.slp-mx-auto.slp-px-10.slp-mb-32
    %ul.slp-py-32.slp-flex.slp-flex-row.slp-justify-evenly
      %li
        %a{:href => "https://twitter.com/gitlab"}
          %svg.slp-w-12.slp-h-auto{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z", :fill => "currentColor"}
      %li
        %a{:href => "https://www.facebook.com/gitlab"}
          %svg.slp-w-12.slp-h-auto{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z", :fill => "currentColor"}
      %li
        %a{:href => "https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"}
          %svg.slp-w-12.slp-h-auto{:viewbox => "0 0 576 512", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z", :fill => "currentColor"}
      %li
        %a{:href => "https://www.linkedin.com/company/gitlab-com"}
          %svg.slp-w-12.slp-h-auto{:viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z", :fill => "currentColor"}
    .slp-flex.slp-flex-row.slp-items-start.slp-justify-start.slp-flex-wrap
      .slp-p-24{:class => "slp-w-1/2 sm:slp-w-1/3 md:slp-w-1/5"}
        %h3.slp-text-xl.slp-font-bold.sm:slp-text-xxl Why Gitlab?
        %ul
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Product
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Solutions
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Services
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              DevOps Lifecycle
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              DevOps tools
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Is it any good?
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Releases
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Pricing
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Get started
      .slp-p-24{:class => "slp-w-1/2 sm:slp-w-1/3 md:slp-w-1/5"}
        %h3.slp-text-xl.slp-font-bold.sm:slp-text-xxl Resources
        %ul
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              All resources
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              All-Remote
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Blog
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Newsletter
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Events
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Webcasts
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Topics
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Training
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Docs
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Install
      .slp-p-24{:class => "slp-w-1/2 sm:slp-w-1/3 md:slp-w-1/5"}
        %h3.slp-text-xl.slp-font-bold.sm:slp-text-xxl Community
        %ul
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Customer
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Contribute
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Community Programs
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Direction
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Technology Partners
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Channel Partners
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Open Source Partners
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              GitLab for Open Source
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              GitLab for Education
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              GitLab for Startups
      .slp-p-24{:class => "slp-w-1/2 sm:slp-w-1/3 md:slp-w-1/5"}
        %h3.slp-text-xl.slp-font-bold.sm:slp-text-xxl Support
        %ul
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Get help
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Contact Sales
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Contact Support
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Support options
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Status
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Customers Portal
      .slp-p-24{:class => "slp-w-1/2 sm:slp-w-1/3 md:slp-w-1/5"}
        %h3.slp-text-xl.slp-font-bold.sm:slp-text-xxl Company
        %ul
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              About
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              What is GitLab?
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Jobs
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Culture
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Team
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Press
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Analysts
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Handbook
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Security
          %li.slp-py-8
            %a.slp-text-base.slp-leading-normal{:href => "/company/"}
              Contact
  .slp-container.slp-mx-auto.slp-px-10
    %p.slp-text-base.slp-text-center.slp-text-grayscale.slp-py-10
      Git is a trademark of Software Freedom Conservancy and our use of 'GitLab'
      is under license
  %p.slp-text-center.slp-text-md.slp-px-10.slp-py-8{:style => "background: rgb(85, 68, 136);"}
    View
    %a.slp-underline{:href => "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/sites/uncategorized/source/index.html.haml"}
      page source
    — Edit in
    %a.slp-underline{:href => "https://gitlab.com/-/ide/project/gitlab-com/www-gitlab-com/edit/master/-/sites/uncategorized/source/index.html.haml"}
      Web IDE
    — please
    %a.slp-underline{:href => "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md"}
      contribute
    \.
    %a{:href => "https://creativecommons.org/licenses/by-sa/4.0/", :rel => "license"}
      %img.slp-inline{:alt => "Creative Commons License", :src => "static/media/by-sa.7bd949ef.svg"}/